<!DOCTYPE html>
<html>
<head>
    <title>Food Rank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Vote</h1>
    <p>Group: {{ name }}</p>
    <p>Drag the options below to put them in order of preference.</p>
    <form action="/results" method="POST"> <!-- TODO: add in parameter or something here to pass code to results page -->
        {% for idx in range(items|length): %}
            <p id="item{{ idx }}">{{items[idx]}}</p>
        {% endfor %}
        <button type="submit">Submit</button>
        <!-- TODO: add a button to skip to results page without voting -->
    </form>
</body>
</html>